* {
	box-sizing: border-box;
	margin: 0;
}

body {
    text-align: center;
	background-color: lightgrey;
	color: darkblue;
}

h1 {
    font-family: 'Lobster', cursive;
    font-size: 3rem;
    padding: 1.5rem;
    background-color: lightgrey(38, 218, 14);

}

img {
    border-style: none;
    border-radius: 40%;
	padding: 1.5rem;
}

a, a:visited { color: darkblue; }

.down {
	height: 5rem;
	font-family: 'Lobster', sans-serif;
	font-size: 2rem;
	color: blue;
}  

.down a{
	border: 1px solid;
	text-decoration:none;
}

.icons ul li{
	list-style:none;
    display: inline-block;
    font-size: 3rem;
}

.icons ul li a {
	text-decoration: none;
	padding: 0 15px;
	margin: 6px;
	margin-right: 0;
}

.picture :hover
 {
    border-style: none;
    border-radius: 100%;
    transition: background-size 0.3s ease;
	filter: grayscale(1);
}

.down a:hover {
	background-color: darkblue;
	color: lightgrey;
}

.icons ul li a:hover {
    color: white;
	background-color: darkblue;	
}
